PATH_add local/bin
condanew(){
    conda create -n USA_Congress_SigNetEnv
    conda activate USA_Congress_SigNetEnv
    mkdir local/env
    conda env export > local/env/environment.yml
    echo Environment created
}
condaload(){
    conda env create -f local/env/environment.yml || condanew 
    conda activate USA_Congress_SigNetEnv
    echo Environment USA_Congress_SigNetEnv loaded
}

CONDA_BASE=$(conda info --base) ;
source $CONDA_BASE/etc/profile.d/conda.sh
conda activate USA_Congress_SigNetEnv || condaload
echo Environment USA_Congress_SigNetEnv activated
