dataset/download_votes_merged/*.csv
dataset/download_votes_merged_senate/*csv
dataset/download_votes_merged/*.tsv
dataset/download_votes_merged_senate/*tsv


dataset/*/*/*.csv
dataset/*.csv
dataset/*/*.csv
dataset/*/*/*/*.csv
dataset/*/*/*.tsv
dataset/*.tsv
dataset/*/*.tsv
dataset/*/*/*/*.tsv


dataset/*/*/*.png
dataset/*.png
dataset/*/*.png
dataset/*/*/*/*.png

dataset/edgelists/*/*/*.csv
dataset/edgelists/*/*/*.tsv



